@use 'variables' as *;

.footer {
    padding: 40px 0;
    text-align: center;
    background-color: $dwBlack;

    &__text {
        @include title(18px);

        &__link {
            text-decoration: none;

            &:hover {
                cursor: pointer;
                border-bottom: solid 1px $dwYellow;
            }
        }
    }
}