@use 'variables' as *;

.trailer {
    padding: 40px 0;
    background-image: linear-gradient($dwBlack, $dwBlue);

    &__title {
        @include title(60px);
        text-align: center;
        margin-bottom: 20px;
    }

    video {
        max-width: 100%;
        border-radius: 10px;
    }
}